<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы онлайн в хорошем качестве на emblix бесплатно, без регистрации</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/mainEmblix.js"></script>
    <script src="/assets/js/emblixMovie.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<main>
    <div class="container-fluid px-0">
        <div class="position-fixed" style="left: 0; top: 0; bottom: 0;">
            <button class="btn btn-link btn-nav h-100">
                <i class="fas fa-fw fa-chevron-left fa-2x"></i>
            </button>
        </div>
        <div class="position-fixed" style="right: 0; top: 0; bottom: 0;">
            <button class="btn btn-link btn-nav h-100">
                <i class="fas fa-fw fa-chevron-right fa-2x"></i>
            </button>
        </div>
        <div class="row no-gutters">
            <div class="col sith">
                
                
                <section class="bg-white">
                    <section class="container bg-white">
                        <div class="row justify-content-center no-gutters">
                            <div class="col-md-11 col-sm-12 col-xs-12 pt-sm-5 pt-2 pb-3 px-sm-2 px-0">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <div class="d-flex flex-sm-row flex-column">
                                            <div class="d-flex flex-row align-items-end mr-2">
                                                <div class="h4 pb-0 mb-0 ml-1 mr-2 d-none d-sm-block">
                                                    <button type="button" class="btn btn-link btn-h-sm p-0 text-decoration-none" tabindex="0">
                                                        <i class="fas fa-lg fa-fw fa-fire-alt text-danger"></i>
                                                    </button>
                                                </div>
                                                <div class="h1 pb-0 mb-0">
                                                    <a href="/emblix" class="btn btn-link btn-h-sm p-0 mr-2 text-decoration-none font-weight-bold text-body text-left btn-h">
                                                        <span class="text-body">emblix</span>
                                                    </a>
                                                </div>
                                                <div class="h4 pb-0 mb-0 d-sm-none">
                                                    <button type="button" class="btn btn-link btn-h-sm p-0 text-decoration-none" tabindex="0">
                                                        <i class="fas fa-lg fa-fw fa-fire-alt text-danger"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-end mt-sm-0 mt-2">
                                                <div class="h3 pb-0 mb-0">
                                                    <a href="/emblix" class="btn btn-link btn-h-sm p-0 mr-2 text-decoration-none font-weight-bold text-body text-left btn-h">
                                                        Фильмы
                                                    </a>
                                                    <a href="/emblix" class="btn btn-link btn-h-sm p-0 mr-2 text-decoration-none font-weight-bold text-body text-left">
                                                        Сериалы
                                                    </a>
                                                    <a href="/emblix" class="btn btn-link btn-h-sm p-0 mr-2 text-decoration-none font-weight-bold text-body text-left">
                                                        Аниме
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end">
                                        <div class="d-flex flex-sm-row flex-column">
                                            <div class="h3 pb-0 mb-0">
                                                <a href="/auth" class="btn btn-link btn-h-sm p-0 mr-2 text-decoration-none font-weight-bold text-body text-left">
                                                    войти
                                                </a>
                                                <button type="button" class="btn btn-link btn-h-sm p-0 mr-2 text-decoration-none font-weight-bold text-danger text-left">
                                                    <i class="fas fa-lg fa-fw fa-adjust"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="container bg-white">
                        <div class="row justify-content-center">
                            <div class="col-md-11 col-sm-12 pb-3">
                                <form novalidate="" autocomplete="off" class="d-flex">
                                    <div class="input-group flex-grow-1">
                                        <button type="submit" title="поиск фильма, сериала, мультфильма, актера..." class="btn btn-link btn-input-prepend" style="color: #757575!important;">
                                            <i class="fas fa-search fa-fw fa-lg"></i>
                                        </button>

                                        <input type="text" placeholder="поиск" name="query" aria-label="поиск фильма, сериала, мультфильма, актера..." title="поиск фильма, сериала, мультфильма, актера..." aria-describedby="button-search" rel="nofollow" class="form-control form-control-plaintext form-control-lg bg-light py-3 w-100">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>

                    <section class="container bg-white hansel-breadcrumb">
                        <div class="row justify-content-center mt-0 mb-sm-2 mb-0">
                            <div class="col-md-11 col-sm-12">
                                <nav aria-label="breadcrumb" class="mx-sm-1 mx-0">
                                    <ol class="breadcrumb mx-sm-2">
                                        <li class="breadcrumb-item">
                                            <a href="/emblix" title="Главная" class="text-black text-decoration-none font-weight-bold">
                                                <i class="fas fa-lg fa-fw fa-fire-alt text-muted">
                                                    <span class="sr-only">Главная</span>
                                                </i>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="/emblix" class="text-black text-decoration-none">Фильмы</a>
                                        </li>
                                        <li class="breadcrumb-item active" id="genre-breadcrumb"></li>
                                        <li class="breadcrumb-btn ml-auto">
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </section>

                    <section class="container bg-white hansel">
                        <div class="row justify-content-center pt-0 pb-3">
                            <div class="col-md-11 col-sm-12">
                                <div class="d-flex justify-content-between">
                                    <div class="h3 font-weight-bold mb-2 ml-sm-2 ml-0">
                                        <button type="button" class="btn btn-link p-0 mr-2 text-decoration-none font-weight-bold text-left btn-h text-body">
                                            Жанр
                                        </button>
                                        <button type="button" class="btn btn-link p-0 mr-2 text-decoration-none font-weight-bold text-left btn-small text-muted">
                                            Год
                                        </button>
                                        <button type="button"
                                                id="yearSortBtn"
                                                class="btn btn-link p-0 mr-2 text-decoration-none font-weight-bold text-left {{#if YearSort}}text-danger{{else}}text-muted{{/if}}"
                                                data-sort="{{YearSort}}">
                                            <i class="fas fa-fw fa-sort-numeric-down-alt fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <section class="container bg-white hansel">
                        <div class="row justify-content-center pb-4">
                            <div class="col-md-11 col-sm-12">


                                <section class="section-genres">
                                    <div class="container">
                                        <div class="genres-container">
                                            <div class="d-flex flex-wrap mr-n1" id="genresList">
                                                <!-- Жанры будут добавлены динамически -->
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                





                                <section class="container bg-white">
                                    <div class="row justify-content-center">
                                        <div class="col-md-11 col-sm-12">





                                            <div class="row" id="movieGrid">
                                                {{#each Movies}}
                                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                                    <div class="movie-item">
                                                        <figure class="figure w-100">
                                                            <a href="/movie?id={{Id}}">
                                                                <img class="figure-img img-fluid shadow border-0 w-100"
                                                                     style="border-radius: 0.8rem;"
                                                                     alt="Фильм {{Title}} online на emblix"
                                                                     title="{{Title}} в качестве 720, 1080 Hd на Эмбликс"
                                                                     src="{{PosterUrl}}"
                                                                     loading="lazy">
                                                            </a>
                                                            <figcaption class="figure-caption ml-2 mr-1">
                                                                <div class="movie-item-title">
                                                                    <a class="text-body font-weight-bolder text-decoration-none"
                                                                       href="/movie?id={{Id}}">
                                                                        {{Title}}
                                                                    </a>
                                                                </div>
                                                                <div class="movie-item-info">
                                                                    <small class="text-muted">
                                                                        {{ReleaseYear}}{{#if Country}}, {{Country}}{{/if}}
                                                                    </small>
                                                                </div>
                                                                {{#if Rating}}
                                                                <div class="movie-item-rating">
                                                                    <small class="text-warning">
                                                                        <i class="fas fa-star"></i> {{Rating}}
                                                                    </small>
                                                                </div>
                                                                {{/if}}
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>
                                            
                                            
                                            
                                            
                                            
                                            
                                        </div>
                                    </div>
                                </section>
                                
                                
                                
                                

                                <!-- Пагинация -->
                                <section class="container-fluid">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-11 col-sm-12 my-4">
                                            <div class="row">
                                                <div class="col-12 d-flex flex-wrap pager">
                                                    <a class="btn btn-page flex-fill align-items-center btn-danger" href="#" onclick="return false;">
                                                        <strong>1</strong>
                                                    </a>
                                                    <a class="btn btn-page flex-fill align-items-center btn-dark" href="#" onclick="return false;">
                                                        <strong>2</strong>
                                                    </a>
                                                    <a class="btn btn-page flex-fill align-items-center btn-dark" href="#" onclick="return false;">
                                                        <strong>3</strong>
                                                    </a>
                                                    <a class="btn btn-page flex-fill align-items-center btn-dark" href="#" onclick="return false;">
                                                        <strong>4</strong>
                                                    </a>
                                                    <a class="btn btn-page flex-fill align-items-center btn-dark" href="#" onclick="return false;">
                                                        <strong>5</strong>
                                                    </a>
                                                    <a class="btn btn-page flex-fill align-items-center btn-dark" href="#" onclick="return false;">
                                                        <strong>6</strong>
                                                    </a>
                                                    <a class="btn btn-page flex-fill align-items-center btn-dark" href="#" onclick="return false;">
                                                        <strong>7</strong>
                                                    </a>
                                                    <a class="btn btn-page flex-fill align-items-center btn-dark" href="#" onclick="return false;">
                                                        <strong>8</strong>
                                                    </a>
                                                    <a class="btn btn-page flex-fill align-items-center btn-dark" href="#" onclick="return false;">
                                                        <strong>9</strong>
                                                    </a>
                                                    <a class="btn btn-page btn-dark flex-fill d-flex justify-content-between align-items-center" href="#" onclick="return false;">
                                                        <strong>385</strong><i class="fas fa-fw fa-lg fa-angle-double-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="bg-white mt-5 pb-5 sith-apprentice">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-md-11 col-sm-12">
                                                <h1 class="h3 font-weight-bold mb-4 ml-sm-2 ml-0 mr-sm-5 mr-0">
                                                    Эмбликс - крупнейший интернет-каталог фильмов для онлайн просмотра без регистрации.
                                                </h1>
                                                <p>
                                                    На нашем сайте Вы найдете огромную базу всех новинок кино 2024 года, популярные киноленты прошлых лет и
                                                    классику мирового кинопроизводства. Для Вас мы объединили все хиты и бестселлеры фильмов США, Европы
                                                    Азии и России в <strong class="text-danger">emblix</strong> - современный онлайн кинотеатр с бесплатной базой
                                                    видеоконтента.
                                                </p>
                                                <h2 class="h3 font-weight-bold mb-4 ml-sm-2 ml-0 mt-5 mr-sm-5 mr-0">
                                                    Всем пользователям портала <span class="text-danger font-weight-bold">emblix</span> мы даем возможность
                                                    удобно и быстро найти фильм на любой вкус и отлично провести свой досуг.
                                                </h2>
                                                <p>
                                                    Для этого мы реализовали:
                                                </p>
                                                <ul>
                                                    <li>Удобный и быстрый поиск по каталогу фильмов;</li>
                                                    <li>Современный фильтр для создания выборки похожих фильмов по жанру, категории или стране;</li>
                                                    <li>Коллекции популярных серий и франшиз кино;</li>
                                                    <li>Адаптивный современный дизайн и интуитивно понятную навигацию на любых устройствах: мобильные
                                                        телефоны, Смарт ТВ, стационарные компьютеры, ноутбуки и планшеты;</li>
                                                    <li>Ежедневное обновление базы фильмов, сериалов, мультфильмов и аниме;</li>
                                                    <li>Рекомендованные и аналогичные киноленты;</li>
                                                    <li>Широкий выбор видеоплееров для бесперебойного доступа контента и выбора дублированного перевода,
                                                        субтитров, языка оригинала;</li>
                                                    <li>Каталог актеров всех стран с краткой биографией, подборкой фильмов, сериалов и анимационного кино.
                                                    </li>
                                                </ul>
                                                <p>
                                                    Для бесперебойной работы нашего сервиса и вашего удобства в случае возникновения проблем при просмотре
                                                    контента, вы можете обратиться в нашу техническую поддержку <a title="email" class="text-danger font-weight-bold" href="mailto:sa@emblix.cyou">sa@emblix.cyou</a>. По вашему запросу мы можем
                                                    добавить на сайт нужный фильм, обновить качество видео, озвучку или исправить ошибку на сайте.
                                                </p>
                                                <p>
                                                    После безопасной и простой регистрации через сервисы: Яндекс, Google, Вконтакте или FB, вы получаете
                                                    доступ
                                                    к дополнительному функционалу:
                                                </p>
                                                <ul>
                                                    <li>Скачивайте любые сериалы, фильмы, аниме и мультики на Ваше устройство в высоком разрешении и с
                                                        качественной озвучкой;</li>
                                                    <li>Общайтесь в комментариях, оставляйте рейтинг, пишите рецензии;</li>
                                                    <li>Подписывайтесь на обновления качества и выхода новых серий;</li>
                                                    <li>Добавляйте в закладки;</li>
                                                    <li>Делитесь понравившимся сериалам, аниме и фильмами с друзьями и родными в социальных сетях и
                                                        мессенджерах.</li>
                                                </ul>
                                                <p>
                                                    Регистрация на нашем сервисе безопасная, она обеспечивается законодательством Российской Федерации и
                                                    службами информационной безопасности Yandex, Гугл, Фейсбук и Vk.
                                                </p>
                                                <h4 class="h3 font-weight-bold mb-4 ml-sm-2 ml-0 mt-5 mr-sm-5 mr-0">
                                                    Информативная и удобная карточка фильма для ознакомления и просмотра онлайн.
                                                </h4>
                                                <p>
                                                    Для каждого фильма наша команда реализовала современную и отвечающую всем запросам пользователей
                                                    страницу
                                                    фильма, на ней вы сможете:
                                                </p>
                                                <ul>
                                                    <li>Ознакомиться с кратким описанием и рейтингом фильма;</li>
                                                    <li>Прочитать рецензии и комментарии;</li>
                                                    <li>Просмотреть фотогалерею, изучить актерский состав и команду создателей;</li>
                                                    <li>Выбрать удобный видеоплеер с высоким качеством 720, 1080 HD;</li>
                                                    <li>Подобрать для следующего просмотра онлайн рекомендованное или похожее кино.</li>
                                                </ul>
                                                <p>
                                                    Для улучшения нашего сервиса, отслеживания новинок видеоконтента и обратной связи подписывайтесь на нас
                                                    в
                                                    Телеграм <a href="https://t.me/emblix" target="_blank" rel="noopener noreferrer nofollow" title="Телеграм" class="text-danger font-weight-bold">https://t.me/emblix</a>, <a href="https://vk.com/emblix" target="_blank" rel="noopener noreferrer nofollow" title="ВКонтакте" class="text-danger font-weight-bold">ВКонтакте</a> или пишите на почту <a title="email" class="text-danger font-weight-bold" href="mailto:sa@emblix.cyou">sa@emblix.cyou</a>.
                                                </p>
                                                <!----><!---->
                                                <!---->
                                                <!---->
                                                <p class="text-danger text-center mt-5 pt-5 pb-3">
                                                    <i class="fas fa-fw fa-fire-alt fa-5x"></i>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </section>
                    </section>
            </div>
        </div>
    </div>
</main>

<!-- Футер -->
<footer class="bg-black footer mt-auto">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-11 col-sm-12">
                <div class="row mt-5 mb-5">
                    <div class="col-md-9">
                        <ul class="nav mt-1">
                            <li class="nav-item">
                                <a  href="#" onclick="return false;" class="nav-link text-light">
                                    Политика конфиденциальности
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  href="#" onclick="return false;" class="nav-link text-light">
                                    Правообладателям
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  href="#" onclick="return false;" class="nav-link text-light">
                                    Контакты
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  href="#" onclick="return false;" class="nav-link text-light">
                                    Донаты
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  href="#" onclick="return false;" class="nav-link text-light">
                                    Приложения
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  href="#" onclick="return false;" class="nav-link text-light">
                                    Обновления
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" onclick="return false;" class="nav-link text-light">
                                    База актеров
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" onclick="return false;" class="nav-link text-light">
                                    Коллекции
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav justify-content-md-end mt-sm-0 mt-4">
                            <li class="nav-item">
                                <a href="https://t.me/emblix" target="_blank" rel="noopener noreferrer nofollow" title="Телеграм" class="nav-link text-light">
                                    <i class="fab fa-fw fa-telegram-plane fa-2x"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://vk.com/emblix" target="_blank" rel="noopener noreferrer nofollow" title="ВКонтакте" class="nav-link text-light">
                                    <i class="fab fa-fw fa-vk fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>